html{
    scroll-behavior: smooth;
}
.flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-center{
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}